.card{
    box-shadow: 0 0 4px black;    
    height: 270px;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
}


.row-img{
    height: 50%;
}

img{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.title-row{
    height: 50%;
}

.user-image{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    position: absolute;
}